<h1> System Configuration of Shakeer Server </h1>
<h2> This Edited for notify sample </h2>
IP-Address : <%= node['ipaddress'] %>
HostName : <%= node['hostname'] %>
Group : <%= node['root_group'] %>
OperatingSystem : <%= node['hostnamectl']['operating_system'] %>
<img src="pic.png" style="width:300px;height:400px;" >


