<h1> System Configuration of Shakeer Server </h1> 
IP-Address : <%= node['ipaddress'] %>
HostName : <%= node['hostname'] %>
Group : <%= node['root_group'] %>
OperatingSystem : <%= node['hostnamectl']['operating_system'] %>


